<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successShowAlert">
    <strong>Bem-vindo(a), {{ userName }}!</strong>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="reloadPage()"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorShowAlert">
    <strong>Ops!</strong>
    <div>
        E-mail ou senha incorretos!
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>