<div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Acessar!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm">
                    <div class="mb-3">
                        <label for="email-text" class="col-form-label">E-mail:</label>
                        <input type="text" class="form-control" formControlName="email">
                        <p *ngIf="loginForm.controls.email.errors?.required == true" class="requiredfield">
                            E-mail obrigatório
                        </p>
                    </div>
                    <div class="mb-3">
                        <label for="password-text" class="col-form-label">Senha:</label>
                        <input type="password" class="form-control" formControlName="password">
                        <p *ngIf="loginForm.controls.password.errors?.required == true" class="requiredfield">
                            Senha obrigatório
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="login()" data-bs-dismiss="modal"
                    [disabled]="loginForm.status == 'INVALID'">Acessar</button>
            </div>
        </div>
    </div>
</div>