.date-header p{
    text-align: right;
    font-size: 1.5rem;
}

.btn-info{
    color: #fff;
}

.alert{
    width: 50vw;
    float: right;
    margin: 20px 0 0 48vw;
    position: absolute;
    z-index: 1;
}